.container {
  color: #8c8c8c;
  width: 150px;
  height: 120px;
  display: grid;
  grid-template-rows: 50px 35px 35px;
  border-radius: 16px;
  margin-left: 8px;
  border: 1px solid white;
}
.max {
  display: grid;
  justify-self: left;
  padding: 4px;
}
.min {
  display: grid;
  justify-self: left;
  padding: 4px;
}
